
<div class="flex flex-column">

  <span class="text-lg mb-4">Register</span>

  <mat-form-field>
    <mat-label>Username</mat-label>
    <input type="text" matInput placeholder="Username">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" matInput placeholder="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="text" matInput placeholder="Password">
  </mat-form-field>

  <button mat-button mat-flat-button color="primary">
    <mat-icon>save</mat-icon>
    Register
  </button>


  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/login">Doesn't have an account?</a>
  </div>

</div>
