<h1 class="mt-3" >Selectores anidados</h1>
<hr>

<form [formGroup]="myForm">

  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Continente:</label>
      <select  formControlName="region" class="form-control">
        <option value="">--Seleccione Continente--</option>
        <option *ngFor="let region of regions" [value]="region">{{ region }}</option>
      </select>
    </div>
  </div>

</form>

<h3>Formulario</h3>
<code>
  {{ myForm.value | json }}
</code>
<hr>
<p>
  is form valid: {{ myForm.valid }}
</p>
