<h2>Por capital </h2>

<hr>

<div class="row">
  <div class="col">
      <!--TODO SEARCHBOX-->
      <!-- (onValue)="searchByCapital($event)" -->
      <shared-search-box
        (onDebounce)="searchByCapital($event)"
        [initialValue]="initialValue"
        placeholder="Buscar por capital"></shared-search-box>

  </div>
</div>

<hr>

<div class="row">
  <div class="col">
      <!--TODO TABLA RESULTADOS-->
      <hr>
      <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
      <countries-table [countries]="countries"></countries-table>
  </div>
</div>
